<table>
  <thead>
    <tr>
      <th class="clickable" (click)="sortByGood()">Name</th>
      <th class="clickable" (click)="sortByTotalSupply()">Supply</th>
      <th class="clickable" (click)="sortByTotalDemand()">Demand</th>
      <th class="clickable" (click)="sortByTotalSupplyDemandRatio()">Ratio</th>
      <th>Producers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods$ | async">
      <ng-container *ngIf="{
        totalSupply: totalSupply$(good) | async,
        totalDemand: totalDemand$(good) | async,
        totalSupplyDemandRatio: totalSupplyDemandRatio$(good) | async
        } as stats">
        <td>{{ good }}</td>
        <td class="align-right">{{ stats.totalSupply | number:'.1-1' }}</td>
        <td class="align-right">{{ stats.totalDemand | number:'.1-1' }}</td>
        <td class="align-right">{{ stats.totalSupplyDemandRatio | number:'.2-2' }}</td>
        <td>
          <span *ngFor="let producer of producedInDesc$(good) | async">
            <ng-container *ngIf=" producer.type === 'CITY'">
              {{ producer.city }} ( {{producer.perWeek}})
            </ng-container>
            <ng-container *ngIf=" producer.type === 'RURAL'">
              {{ producer.rural }} ( {{producer.perWeek}})
            </ng-container>
          </span>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
