<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Supply</th>
      <th>Demand</th>
      <th>Ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods$ | async">
      <ng-container *ngIf="{ totalSupply: totalSupply$(good) | async, totalDemand: totalDemand$(good) | async } as stats">
        <td>{{ good }}</td>
        <td class="align-right">{{ stats.totalSupply | number:'.1-1' }}</td>
        <td class="align-right">{{ stats.totalDemand | number:'.1-1' }}</td>
        <td class="align-right">{{ (stats.totalSupply ?? 0) / (stats.totalDemand ?? 0) | number:'.2-2' }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
