<app-game-date></app-game-date>

<table>
  <thead>
    <th>Good</th>
    <th>Producer</th>
    <th class="clickable" (click)="sortByDestination()">Destination</th>
    <th class="clickable" (click)="sortByMiles()">Distance</th>
    <th class="clickable" (click)="sortByCost()">Cost</th>
    <th>production<br>per week</th>
    <th>demand<br>per week</th>
    <th>production<br>factor</th>
    <th>demand<br>factor</th>
    <th>effective<br>rate</th>
    <th>last run</th>
    <th class="clickable" (click)="sortByNextRun()">next run</th>
    <th><!-- buttons --></th>
  </thead>
  <tbody>

    <!-- existing -->
    <tr *ngFor="let item of itemsSorted$ | async" [ngClass]="{'running-late': runningLate$(item) | async}">
      <td>{{ item.good }}</td>
      <td><a [routerLink]="['/','game-state','negocio-rural']" [queryParams]="{name: item.ruralProducer}">{{ item.ruralProducer }}</a></td>
      <td><a [routerLink]="['/','game-state','ciudad']" [queryParams]="{name: item.destinationCity}">{{ item.destinationCity }}</a></td>
      <td class="align-right">{{ item.miles }}</td>
      <td class="align-right">{{ item.cost }}</td>
      <td class="align-right">{{ productionPerWeek$(item.ruralProducer, item.good) | async | number:'.1-1' }}</td>
      <td class="align-right">{{ item.demandPerWeek | number:'.1-1' }}</td>
      <td class="align-right">{{ item.productionFactor ?? 1.0 | number:'.2-2' }}</td>
      <td class="align-right">{{ item.demandFactor ?? 1.0 | number:'.2-2' }}</td>
      <td class="align-right">{{ item.effectiveRate | number:'.1-1' }}</td>
      <td>{{ item.lastRun | date:'yyyy-MM-dd' }}</td>
      <td>{{ item.nextRun | date:'yyyy-MM-dd' }}</td>
      <td>
        <button (click)="runNow(item)">Run now</button>
      </td>
    </tr>

    <!-- new ones -->
    <tr>
      <td>
        <select [(ngModel)]="newGood">
          <option disabled></option>
          <option *ngFor="let good of goods$ | async" [ngValue]="good">{{ good }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="newRuralProducer">
          <option disabled></option>
          <option *ngFor="let rural of rurales$ | async" [ngValue]="rural">{{ rural.name }} ({{rural.product}})
          </option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="newDestinationCity">
          <option disabled></option>
          <option *ngFor="let ciudad of ciudades$ | async" [ngValue]="ciudad">{{ ciudad.name }}</option>
        </select>
      </td>
      <td>
        <input class="medium-number" type="number" placeholder="miles" [(ngModel)]="newMiles">
      </td>
      <td>
        <input class="medium-number" type="number" placeholder="cost" [(ngModel)]="newCost">
      </td>
      <td colspan="8">
        <button
          (click)="addLine({ruralProducer: newRuralProducer!, good: newGood!, destinationCity: newDestinationCity!, miles: newMiles!, cost: newCost! })"
          [disabled]="!newRuralProducer || !newGood || !newDestinationCity || !newMiles || !newCost">Add</button>
      </td>
    </tr>
  </tbody>
</table>
