<app-game-date></app-game-date>

<table>
  <thead>
    <tr>
      <th class="clickable" (click)="sortByName()">Name</th>
      <th class="clickable" (click)="sortByProduct()">Product</th>
      <th>Size</th>
      <th>Weekly<br>Production</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let negocio of itemsSorted$ | async">
      <td><a [routerLink]="['/', 'game-state','negocio-rural']" [queryParams]="{name: negocio.name}">{{ negocio.name }}</a></td>
      <td>{{ negocio.product }}</td>
      <td>
        <input class="short-number" type="number" min="1" max="5" step="1" [ngModel]="negocio.size | number"
        (ngModelChange)="updateSize(negocio, $event)">
      <td class="align-right">
        {{ negocio.perWeek }}
      </td>
      <td>
        <button (click)="removeNegocio(negocio.name)">Remove</button>
      </td>
    </tr>
    <tr>
      <td><input [(ngModel)]="newName" placeholder="name" type="text"></td>
      <td>
        <select [(ngModel)]="newProduct">
          <option *ngFor="let good of goods$ | async" value="{{ good }}">{{ good }}</option>
        </select>
      </td>
      <td><input class="short-number" [(ngModel)]="newSize" placeholder="size" type="number"></td>
      <td colspan="2">
        <button (click)="addNegocio({name: newName!, size: newSize!, product: newProduct!})"
          [disabled]="!newName || !newSize || !newProduct">Add</button>
      </td>
    </tr>
  </tbody>
</table>
