<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>materias primas</th>
      <th></th>
      <th>productos</th>
      <th colspan="3" *ngFor="let nivel of [1,2,3,4,5]">nivel {{ nivel }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let key of keys$ | async">
      <ng-container *ngIf="industria$(key) | async as industria">
        <tr>
          <td rowspan="2">{{ industria.name }}</td>
          <td rowspan="2">
            <button (click)="removeIndustria(industria.name)">Remove</button>
          </td>
          <td>
            <select [ngModel]="(industria.materiasPrimas ?? [ undefined, undefined])[0]?.name"
              (ngModelChange)="setMaterialPrima(industria, 0, $event)">
              <option disabled></option>
              <option *ngFor="let good of goods$ | async" value="{{ good }}">{{ good }}</option>
            </select>
          </td>
          <td rowspan="2">⇒</td>
          <td>
            <select [ngModel]="(industria.productos ?? [ undefined, undefined])[0]?.name"
              (ngModelChange)="setProduct(industria, 0, $event)">
              <option disabled></option>
              <option *ngFor="let good of goods$ | async" value="{{ good }}">{{ good }}</option>
            </select>
          </td>
          <ng-container *ngFor="let nivel of [1,2,3,4,5]">
            <td>
              <input class="short-number" type="number"
                [ngModel]="((industria.materiasPrimas ?? [ undefined, undefined])[0]?.perWeek ?? []) [nivel - 1]"
                (ngModelChange)="setMaterialPrimaPerWeek(industria, 0, nivel, $event )">
            </td>
            <td rowspan="2">⇒</td>
            <td>
              <input class="short-number" type="number"
                [ngModel]="((industria.productos ?? [ undefined, undefined])[0]?.perWeek ?? []) [nivel - 1]"
                (ngModelChange)="setProductosPerWeek(industria, 0, nivel, $event )">
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>
            <select [ngModel]="(industria.materiasPrimas ?? [ undefined, undefined])[1]?.name"
              (ngModelChange)="setMaterialPrima(industria, 1, $event)">
              <option disabled></option>
              <option *ngFor="let good of goods$ | async" value="{{ good }}">{{ good }}</option>
            </select>
          </td>
          <td>
            <select [ngModel]="(industria.productos ?? [ undefined, undefined])[1]?.name"
              (ngModelChange)="setProduct(industria, 1, $event)">
              <option disabled></option>
              <option *ngFor="let good of goods$ | async" value="{{ good }}">{{ good }}</option>
            </select>
          </td>
          <ng-container *ngFor="let nivel of [1,2,3,4,5]">
            <td>
              <input class="short-number" type="number"
                [ngModel]="((industria.materiasPrimas ?? [ undefined, undefined])[1]?.perWeek ?? []) [nivel - 1]"
                (ngModelChange)="setMaterialPrimaPerWeek(industria, 1, nivel, $event )">
            </td>
            <td>
              <input class="short-number" type="number">
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
    <tr>
      <td><input [(ngModel)]="newName" placeholder="name" type="text"></td>
      <td>
        <button (click)="addIndustria(newName!)" [disabled]="!newName">Add</button>
      </td>
    </tr>
  </tbody>
</table>
