<div class="links">

  <a [routerLink]="['game-config', 'goods']">Goods</a>
  <a [routerLink]="['game-config', 'negocios']">Negocios</a>
  <a [routerLink]="['game-config', 'industrias']">Industrias</a>
  <a [routerLink]="['game-config', 'demands']">Demands</a>

  <a [routerLink]="['game-state', 'ciudades']">Ciudades</a>
  <a [routerLink]="['game-state', 'rurales']">Negocios Rurales</a>
  <a [routerLink]="['game-state', 'direct-lines']">Direct Lines</a>
  <a [routerLink]="['game-state', 'cities-demand-supply']">Cities' Demand-Supply</a>

</div>

<router-outlet></router-outlet>
