div.links {
  padding: 15px;
  a {
    margin: 15px;
    padding: 10px;
    text-decoration: none;

    &.game-config {
      background-color: mediumseagreen;
      color: white;
    }

    &.game-state {
      background-color: deepskyblue;
      color: white;
    }

  }
}
