<app-game-date></app-game-date>

<ng-container *ngIf="ciudad$ | async as ciudad">

  <h1>{{ ciudad.name }}</h1>

  <h2>Demography</h2>

  <table>
    <th style="text-align: left;">Population</th>
    <td>
      <input [ngModel]="ciudad.population" (ngModelChange)="updatePopulation({ name: ciudad.name, population: $event })"
        type="number" class="medium-number">
    </td>
  </table>

  <h2>Industry</h2>

  <table>
    <tr *ngFor="let index of [0,1,2]">
      <th style="text-align: left;">Industria {{ index + 1 }}</th>
      <td>
        <select [ngModel]="ciudad.businesses[index]?.name"
          (ngModelChange)="updateBusiness({ name: ciudad.name, index: index, business: $event, size: ciudad.businesses[index]?.size})">
          <option></option>
          <option *ngFor="let industria of industrias$ | async" value="{{ industria }}">{{ industria }}</option>
        </select>
      </td>
      <td>
        <input class="short-number" type="number" [ngModel]="ciudad.businesses[index]?.size"
          (ngModelChange)="updateBusiness({ name: ciudad.name, index: index, business: ciudad.businesses[index]?.name, size: $event})">
      </td>
    </tr>
  </table>

  <h2>Direct Lines to {{ ciudad.name }}</h2>

  <app-direct-city-provider [ciudad]="ciudad"></app-direct-city-provider>

  <h2>Goods</h2>

  <table>
    <tr *ngFor="let good of goods$ | async">
      <th style="text-align: left;">{{ good }}</th>
      <td>not implemented</td>
    </tr>
  </table>
</ng-container>
