<app-game-date></app-game-date>

<table>
  <thead>
    <tr>
      <th class="clickable" (click)="sortByName()">Name</th>
      <th class="clickable" (click)="sortByPopulation()">Size</th>
      <th class="clickable" (click)="sortByPopulation()">Population</th>
      <th *ngFor="let index of [0,1,2]">Business {{ index + 1 }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ciudad of ciudadesSorted$ | async">
      <td><a [routerLink]="['/', 'game-state','ciudad']" [queryParams]="{name: ciudad.name}">{{ ciudad.name }}</a></td>
      <td class="align-right">{{ ciudad.size }}</td>
      <td><input [ngModel]="ciudad.population"
          (ngModelChange)="updatePopulation({ name: ciudad.name, population: $event })" type="number"
          class="medium-number"></td>
      <th *ngFor="let index of [0,1,2]">
        <select [ngModel]="ciudad.businesses?.[index]?.business"
          (ngModelChange)="updateBusiness({ name: ciudad.name, index: index, business: $event, size: ciudad.businesses?.[index]?.size ?? 1})">
          <option></option>
          <option *ngFor="let industria of industrias$ | async" value="{{ industria }}">{{ industria }}</option>
        </select>
        <input class="short-number" type="number" [ngModel]="ciudad.businesses?.[index]?.size"
          (ngModelChange)="updateBusiness({ name: ciudad.name, index: index, business: ciudad.businesses?.[index]?.business, size: $event})">
      </th>
      <td>
        <button (click)="removeCity(ciudad.name)">Remove</button>
      </td>
    </tr>
    <tr>
      <td><input [(ngModel)]="newName" placeholder="name" type="text"></td>
      <td><input [(ngModel)]="newSize" placeholder="size" type="number"></td>
      <td><input [(ngModel)]="newPopulation" placeholder="population" type="number" class="medium-number"></td>
      <td>
        <button (click)="addCity({name: newName!, size: newSize!, population: newPopulation!})"
          [disabled]="!newName || !newSize || !newPopulation">Add</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
