<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Good</th>
      <th class="clickable" (click)="sortByDemandDesc()">Weekly<br>Demand</th>
      <th>Effective<br>Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of keysSorted$ | async">
      <td>{{ key.city }}</td>
      <td>{{ key.good }}</td>
      <td class="align-right">{{ demandPerWeek$(key) | async | number:'.1-1' }}</td>
      <td class="align-right">{{ effectiveRate$(key) | async | number:'.1-1' }}</td>
    </tr>
  </tbody>
</table>
