<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ciudad of ciudades$ | async">
      <td>{{ ciudad.name }}</td>
      <td class="align-right">{{ ciudad.size }}</td>
      <td class="align-right">{{ ciudad.population | number }}</td>
      <td>
        <button (click)="removeCity(ciudad.name)">Remove</button>
      </td>
    </tr>
    <tr>
      <td><input [(ngModel)]="newName" placeholder="name" type="text"></td>
      <td><input [(ngModel)]="newSize" placeholder="size" type="number"></td>
      <td><input [(ngModel)]="newPopulation" placeholder="pobulation" type="number"></td>
      <td>
        <button (click)="addCity({name: newName!, size: newSize!, population: newPopulation!})"
          [disabled]="!newName || !newSize || !newPopulation">Add</button>
      </td>
    </tr>
  </tbody>
</table>
